.bicicletas-lista {
  padding: 60px 0 120px 0;
}

.bicicletas-lista h2 {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 1200px;
  padding: 0 20px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin: 0 auto;
  color: var(--cor-11);
  overflow-x: auto;
}

.bicicletas-lista li {
  min-width: 280px;
}

.bicicletas-lista a {
  display: block;
}
.bicicletas-lista img {
  margin-bottom: 16px;
}
.bicicletas-lista h3 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.bicicletas-lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--cor-p1);
  transition: width 0.2s;
}

.bicicletas-lista li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }
  .bicicletas-lista ul {
    gap: 20px;
  }

  .bicicletas-lista a:hover h3::before {
    width: 24px;
  }
}
