.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.btn {
  line-height: 1.33;
  padding: 16px 32px;
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0.1);
  color: var(--cor-p5);
  display: inline-block;
  text-transform: uppercase;
  font: 600 1.125rem/1.35 var(--font-1);
  max-width: max-content;
}

.btn a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.btn.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}

.btn.secundario:hover {
  background: var(--cor-9);
  color: var(--cor-2);
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 var(--font-1);
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}
